
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;;
}


.container{
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
}

.calcularIMC{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    margin: 5%;
    padding-top: 1%;
    justify-items: center;
    align-items: center;
    background-color: aliceblue;
    width: 400px;
    height: 550px;
}

.NotaCorte{ 
    
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px 0;
    
    
    
    
    
    
   
}
.NotaCorte #corte{
    align-self: center;
    height: 20px;
}
.inputs{
   display: grid;
   grid-auto-columns: 210px;
   grid-template-rows:  20px 20px 20px 20px 20px;
   gap: 20px 0px;
}

.botao{
    transition: all 0.4s;
    width: 150px;
    height: 25px;
    background-color: cadetblue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.botao:hover{
    transition: all 0.4s;
    background-color: rgb(87, 180, 185);
    width: 180px;
    height: 30px;
    
    font-size: 20px;
}


h2{
    color: cadetblue;
    font-weight: bold;
}


/* Removendo arrows dos inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.Nota{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-style: solid;
    border-color: cadetblue;
    
    padding: 10px;
}
#corte{
    
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-style: solid;
    border-color: cadetblue;
    
    padding: 10px;
}

input:focus{
    outline: 0;
}

#NotaFinal{
    padding: 15px;
    font-size: 15px;
}